/* Css variabel */
:root{
    --speed: 2;
}

#heading{
    margin-top: 100px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    text-align: center;
}

#heading {
    background:
      radial-gradient(circle, black 50%, transparent) center/var(--d, 0) var(--d, 0) no-repeat,
      linear-gradient(black 0 0) bottom -12px left 50% /15px 15px no-repeat;
    transition: 0.3s, background-position 0.3s 0.3s
  }
  #heading:hover {
    transition: 0.3s, background-size 0.4s 0.3s, color 0.3s 0.3s;
    background-position: center;
    --d: 180%;
    color: #fff
  }

.machine{
    background-color:coral;
    border: solid black 5px;
    border-radius: 20px;
    height: 300px;
    width: 900px;
    margin: auto;
    margin-top: 200px;

    z-index: 1;

    display: flex;

}

#inpSpeed{
    font-size: 30pt;
    margin-top: 50px;
    margin-left: 875px;
    width: 60px;
    
}

.slot{
    height: 250px;
    width: 250px;
    margin: 20px;

    background-color: beige;
    border: solid darkblue 3px;
    border-radius: 20px;
    text-align: center;
    font-size: 80pt;
    line-height: 250px;

    overflow: hidden;
    z-index: 2;
}

.slot .value{   
    z-index: 3;
    animation-name: slotspin;
    animation-iteration-count: infinite;
    animation-duration: calc(1s / var(--speed));

}

@keyframes slotspin{
    0%{
        transform: translateY(-200px);
    }
    100%{
        transform: translateY(200px);
    }
}

